<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Log Viewer</title>
    <link rel="stylesheet" href="./style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    
</head>

<body>
    <input type="hidden" th:value="${readerKey}" id="readerKey" />
    <input type="hidden" id="logfile" />
    <input type="hidden" id="logdirectory" />

    <div class="container">
        <div class="Terminal">
            <div class="Terminal__Toolbar">
                <div class="Toolbar__buttons">
                    <button onClick="window.location.reload();" title="Close session" class="Toolbar__button Toolbar__button--exit">&#10005;</button>
                    <button onClick="selectText('Terminal__body')" title="Select console text" class="Toolbar__button">&#9472;</button>
                    <button onClick="toggleFullscreen();" title="Full screen" class="Toolbar__button">&#9723;</button>
                    <button onClick="getMoreLines();" title="Get more logs" class="Toolbar__button">&#8635;</button>
                    <button onClick="downloadFileZipped();" title="Download file" class="Toolbar__button">&#8615;</button>
                    <button onClick="downloadFileZippedFromContext();" title="Download file from context" class="Toolbar__button">&#8615;</button>
                    
                </div>
                <p class="Toolbar__user">
                	<span class=green>Connected</span> to server:~ <span id="headerfilename" class="blue"></span>
            		<span class=green id="numberoflines"></span> 
            	</p>
            </div>

            <div class="Terminal__body" id="Terminal__body">
                <div class="Terminal__text">Initializing terminal...<span class=Prompt__cursor></span> </div>
            </div>
        </div>
    </div>

    <script>
        console.log($("#readerKey").val())

        //moment().format('MMMM Do YYYY, h:mm:ss a');
        
        var contextPath = "";
        var url_string = window.location.href;
        var url = new URL(url_string);
        var parameters = url.searchParams;
        if (parameters.toString() != "") {
        	if(parameters.has("context")){
        		contextPath = parameters.get('context');
        	}
        }
        
        $(document).ready(function() {
        });
        init();

        function init() {
            $.get(contextPath + "/getDirectoryContents", function(response) {
            	var data;
            	
            	if (typeof response == 'object') {
            		data = response
            	} else {
            		data = JSON.parse(response);
            	}
                $("#Terminal__body").empty();

                $("#Terminal__body").append("<div class=Terminal__Prompt> <span class=gray>/* Please select a file to view */ </span> </div>");

                for (var i = 0; i < data.length; i++) {
                    var eachFolder = data[i];
                    var eachFolderName = eachFolder.displayName
                    var eachFolderPath = eachFolder.path

                    var folderHTMLClass = "folderview" + i;
                    //eachFolder -> displayName, path, files
                    //files -> name, lastModified, size
                    $("#Terminal__body").append("<div> -- <a class=orange href=\"#\" onClick=\"showhideFolder('" + folderHTMLClass + "')\">" + eachFolderName + "</a> </div>");
                    var allFiles = eachFolder.files;

                    for (var j = 0; j < allFiles.length; j++) {
                        var eachFile = allFiles[j];

                        $("#Terminal__body").append("<div class='" + folderHTMLClass + "'> ----  " +
                            " " +
                            "<a class=blue href=\"#\" onClick=\"startExecution('" + eachFile.name + "', '" + eachFolderPath + "', 'true')\">" + eachFile.name + "</a> -- " +
                            "<span class=green>" + moment(eachFile.lastModified).format('MMMM Do YYYY, h:mm:ss a') + "</span>" + "-- " +
                            "<span class=red>" + bytesToSize(eachFile.size) + "</span>" +
                            " </div>");
                    }

                    $("." + folderHTMLClass).hide();
                   
                    
                }

            });

        }

        function bytesToSize(bytes) {
            var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
            if (bytes == 0) return '0 Byte';
            var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
            return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
        }

        function showhideFolder(divClass) {
            $("." + divClass).slideToggle();
        }

        
        function getMoreLines() {
            var logfile = $("#logfile").val()
            var logdirectory = $("#logdirectory").val()
            startExecution(logfile, logdirectory, "false")
        }
        
        function downloadFileZipped() {
        	var logfile = $("#logfile").val()
            var logdirectory = $("#logdirectory").val()
            var readerKey = $("#readerKey").val()
            
            $("#Terminal__body").empty();
            $("#Terminal__body").append("<div class=logline> Downloading the file: " + logfile + ". Please wait <span class=Prompt__cursor></span></div>");

            var requesturl = contextPath + "/downloadLog?fileName=" + logfile + "&dirPath="+ logdirectory + "&readerKey=" + readerKey
            console.log("requesturl=" + requesturl)

            $.get(requesturl, function(response) {
            	
				var responseJson;
            	
            	if (typeof response == 'object') {
            		responseJson = response
            	} else {
            		responseJson = JSON.parse(response);
            	}
            					
                for (var i = 0; i < responseJson.length; i++) {
                	var inputStringBean = responseJson[i]
                	var transportBean = JSON.parse(inputStringBean);
                	
                    var action = transportBean["action"]
                    var data = transportBean["data"]
                    
                    if(action == "click") {
                    	var downloadUrl = window.location.protocol + "//" + window.location.host + contextPath + "/" + data
                    	window.location.replace(downloadUrl,"_blank");
                    	addSequentialMessage("Download started...")
                    } if(action == "display") {
                    	addSequentialMessage(data);
                    }
                }
            });
            
        }
        

        function downloadFileZippedFromContext() {
        	var logfile = $("#logfile").val()
            var logdirectory = $("#logdirectory").val()
            var readerKey = $("#readerKey").val()
            
            $("#Terminal__body").empty();
            $("#Terminal__body").append("<div class=logline> Downloading the file: " + logfile + ". Please wait <span class=Prompt__cursor></span></div>");

            var requesturl = contextPath + "/downloadLog?fileName=" + logfile + "&dirPath="+ logdirectory + "&readerKey=" + readerKey
            console.log("requesturl=" + requesturl)

            $.get(requesturl, function(response) {
            	
				var responseJson;
            	
            	if (typeof response == 'object') {
            		responseJson = response
            	} else {
            		responseJson = JSON.parse(response);
            	}
            					
                for (var i = 0; i < responseJson.length; i++) {
                	var inputStringBean = responseJson[i]
                	var transportBean = JSON.parse(inputStringBean);
                	
                    var action = transportBean["action"]
                    var data = transportBean["data"]
                    
                    if(action == "click") {
                    	var downloadUrl = contextPath + "/" + data
                    	window.location.replace(downloadUrl,"_blank");
                    	addSequentialMessage("Download started...")
                    } if(action == "display") {
                    	addSequentialMessage(data);
                    }
                }
            });
            
        }
        
        function startExecution(fileName, dirPath, erasePanel) {
            $("#logfile").val(fileName)
            $("#logdirectory").val(dirPath)
            var readerKey = $("#readerKey").val()
            
            var requesturl = contextPath + "/tailLog?fileName=" + fileName + "&dirPath="+ dirPath + "&readerKey=" + readerKey
            console.log("requesturl=" + requesturl)

            $.get(requesturl, function(response) {
            	
				var data;
            	
            	if (typeof response == 'object') {
            		data = response
            	} else {
            		data = JSON.parse(response);
            	}				

                for (var i = 0; i < data.length; i++) {
                    var eachLogline = data[i];
                    addMessage(eachLogline);

                }

            });
            
            if (erasePanel != "false") {
                $("#Terminal__body").empty();
            }
            
            $("#headerfilename").html(fileName);
        }

        function addSequentialMessage(message) {
            message = unEntity(message);

            $("#Terminal__body").append("<div class=logline> " + message + " </div>");
            
        }

        function addMessage(message) {
            message = unEntity(message);

            $("#Terminal__body").prepend("<div class=logline> " + message + " </div>");
            
            $("#numberoflines").html(" - " + $("#Terminal__body > div").length + " lines");
            $('#Terminal__body').scrollTop($('#Terminal__body')[0].scrollHeight);

        }

        function unEntity(str) {
            return str.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
        }
        
        function selectText(containerid) {
            if (document.selection) { // IE
                var range = document.body.createTextRange();
                range.moveToElementText(document.getElementById(containerid));
                range.select();
            } else if (window.getSelection) {
                var range = document.createRange();
                range.selectNode(document.getElementById(containerid));
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(range);
            }
        }
        
        function toggleFullscreen() {
            var isInFullScreen = (document.fullscreenElement && document.fullscreenElement !== null) ||
                (document.webkitFullscreenElement && document.webkitFullscreenElement !== null) ||
                (document.mozFullScreenElement && document.mozFullScreenElement !== null) ||
                (document.msFullscreenElement && document.msFullscreenElement !== null);

            var docElm = document.documentElement;
            if (!isInFullScreen) {
                if (docElm.requestFullscreen) {
                    docElm.requestFullscreen();
                } else if (docElm.mozRequestFullScreen) {
                    docElm.mozRequestFullScreen();
                } else if (docElm.webkitRequestFullScreen) {
                    docElm.webkitRequestFullScreen();
                } else if (docElm.msRequestFullscreen) {
                    docElm.msRequestFullscreen();
                }
            } else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.webkitExitFullscreen) {
                    document.webkitExitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }
            }
        }
    </script>

</body>

</html>